.fltr-add {
    padding-top: 16px;
    padding-bottom: 16px;
}

.fltr-add .header h1 {
    padding: 16px;
    text-align: center;
    font-weight: lighter;
    color: rgb(128, 128, 128);
}

.fltr-add .item {
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    color: rgb(128, 128, 128);
}

.fltr-add .item:hover {
    background-color: rgb(255, 114, 131);
    border-radius: 2px;
    color: white;
}
